.bookContainer{
    background-color: whitesmoke;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    width: 20%;
    padding: 10px;
    justify-content: space-between;
    margin: 20px;
}