.navbar{
    background-color: black;
    padding: 10px;
}

.navbar > ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.navbar > ul > li{
    color: white;
    margin: 5px;
    list-style: none;
}

.links{
    color: white;
    text-decoration: none;
}
